// Code generated by the Code Generation Kit (CGK) using OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
//
// Copyright 2022 Edgecast Inc., Licensed under the terms of the Apache 2.0
// license. See LICENSE file in project root for terms.

/*
Customer Origins API v3

List of API of config Customer Origin.

API version: 0.5.0
Contact: portals-streaming@edgecast.com
*/

package originv3

import (
	"fmt"

	"github.com/EdgeCast/ec-sdk-go/edgecast/internal/ecclient"
	"github.com/go-openapi/errors"
)

// CommonClient is the concrete client implementation for Common
type CommonClient struct {
	apiClient  ecclient.APIClient
	baseAPIURL string
}

// NewCommonClient creates a new instance of CommonClient
func NewCommonClient(
	c ecclient.APIClient,
	baseAPIURL string,
) CommonClient {
	return CommonClient{c, baseAPIURL}
}

// CommonClientService defines the operations for Common
type CommonClientService interface {
	CreateCustomerOrigin(
		params CreateCustomerOriginParams,
	) (*CustomerOrigin, error)

	DeleteCustomerOrigin(
		params DeleteCustomerOriginParams,
	) error

	DeleteGroup(
		params DeleteGroupParams,
	) error

	GetCustomerOrigin(
		params GetCustomerOriginParams,
	) (*CustomerOrigin, error)

	GetCustomerOrigins(
		params GetCustomerOriginsParams,
	) ([]CustomerOrigin, error)

	GetEdgeFunctions(
		params GetEdgeFunctionsParams,
	) ([]EdgeFunction, error)

	GetGroupStatus(
		params GetGroupStatusParams,
	) (*CustomerOriginStatus, error)

	GetOriginsByGroup(
		params GetOriginsByGroupParams,
	) ([]CustomerOriginFailoverOrder, error)

	UpdateCustomerOrigin(
		params UpdateCustomerOriginParams,
	) (*CustomerOrigin, error)

	UpdateGroupFailoverOrder(
		params UpdateGroupFailoverOrderParams,
	) error
}

// CreateCustomerOriginParams contains the parameters for CreateCustomerOrigin
type CreateCustomerOriginParams struct {
	// http-large or adn
	MediaType string

	// The Adn Customer Origin without id
	CustomerOriginRequest CustomerOriginRequest
}

// NewCreateCustomerOriginParams creates a new instance of CreateCustomerOriginParams
func NewCreateCustomerOriginParams() CreateCustomerOriginParams {
	return CreateCustomerOriginParams{}
}

// CreateCustomerOrigin - Create new Customer origin
//
//	Create new Customer Origin
func (c CommonClient) CreateCustomerOrigin(
	params CreateCustomerOriginParams,
) (*CustomerOrigin, error) {
	req, err := buildCreateCustomerOriginRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOrigin{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("CreateCustomerOrigin: %w", err)
	}

	return &parsedResponse, nil
}

func buildCreateCustomerOriginRequest(
	p CreateCustomerOriginParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Post")
	if err != nil {
		errs = append(errs, fmt.Errorf("CreateCustomerOrigin: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.RawBody = p.CustomerOriginRequest

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// DeleteCustomerOriginParams contains the parameters for DeleteCustomerOrigin
type DeleteCustomerOriginParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Id
	Id int32
}

// NewDeleteCustomerOriginParams creates a new instance of DeleteCustomerOriginParams
func NewDeleteCustomerOriginParams() DeleteCustomerOriginParams {
	return DeleteCustomerOriginParams{}
}

// DeleteCustomerOrigin - Delete a customer origin by id
//
//	Delete an individual Customer Origin
func (c CommonClient) DeleteCustomerOrigin(
	params DeleteCustomerOriginParams,
) error {
	req, err := buildDeleteCustomerOriginRequest(params, c.baseAPIURL)
	if err != nil {
		return err
	}

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return fmt.Errorf("DeleteCustomerOrigin: %w", err)
	}

	return nil
}

func buildDeleteCustomerOriginRequest(
	p DeleteCustomerOriginParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/{id}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Delete")
	if err != nil {
		errs = append(errs, fmt.Errorf("DeleteCustomerOrigin: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["id"] = NumberToString(p.Id)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// DeleteGroupParams contains the parameters for DeleteGroup
type DeleteGroupParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Group Id
	GroupId int32
}

// NewDeleteGroupParams creates a new instance of DeleteGroupParams
func NewDeleteGroupParams() DeleteGroupParams {
	return DeleteGroupParams{}
}

// DeleteGroup - Delete a customer origin group by id
//
//	Delete a Customer Origin Group by id
func (c CommonClient) DeleteGroup(
	params DeleteGroupParams,
) error {
	req, err := buildDeleteGroupRequest(params, c.baseAPIURL)
	if err != nil {
		return err
	}

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return fmt.Errorf("DeleteGroup: %w", err)
	}

	return nil
}

func buildDeleteGroupRequest(
	p DeleteGroupParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/groups/{groupId}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Delete")
	if err != nil {
		errs = append(errs, fmt.Errorf("DeleteGroup: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetCustomerOriginParams contains the parameters for GetCustomerOrigin
type GetCustomerOriginParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Id
	Id int32
}

// NewGetCustomerOriginParams creates a new instance of GetCustomerOriginParams
func NewGetCustomerOriginParams() GetCustomerOriginParams {
	return GetCustomerOriginParams{}
}

// GetCustomerOrigin - Get specific Customer origin by id
//
//	Get an individual Customer Origin
func (c CommonClient) GetCustomerOrigin(
	params GetCustomerOriginParams,
) (*CustomerOrigin, error) {
	req, err := buildGetCustomerOriginRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOrigin{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetCustomerOrigin: %w", err)
	}

	return &parsedResponse, nil
}

func buildGetCustomerOriginRequest(
	p GetCustomerOriginParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/{id}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetCustomerOrigin: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["id"] = NumberToString(p.Id)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetCustomerOriginsParams contains the parameters for GetCustomerOrigins
type GetCustomerOriginsParams struct {
	// http-large or adn
	MediaType string

	// [false | true] only. Get Error with another value
	Ascending bool

	// In range [1, 1000]
	PageSize int32

	// In range [1, 1000]
	PageNumber int32

	Sortby string
}

// NewGetCustomerOriginsParams creates a new instance of GetCustomerOriginsParams
func NewGetCustomerOriginsParams() GetCustomerOriginsParams {
	return GetCustomerOriginsParams{}
}

// GetCustomerOrigins - Get all Customer origins
//
//	Get list of Customer Origin
func (c CommonClient) GetCustomerOrigins(
	params GetCustomerOriginsParams,
) ([]CustomerOrigin, error) {
	req, err := buildGetCustomerOriginsRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := make([]CustomerOrigin, 0)
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetCustomerOrigins: %w", err)
	}

	return parsedResponse, nil
}

func buildGetCustomerOriginsRequest(
	p GetCustomerOriginsParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetCustomerOrigins: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.QueryParams["ascending"] = BoolToString(p.Ascending)

	req.QueryParams["pageSize"] = NumberToString(p.PageSize)

	req.QueryParams["pageNumber"] = NumberToString(p.PageNumber)

	req.QueryParams["sortby"] = p.Sortby

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetEdgeFunctionsParams contains the parameters for GetEdgeFunctions
type GetEdgeFunctionsParams struct {
	// http-large or adn
	MediaType string
}

// NewGetEdgeFunctionsParams creates a new instance of GetEdgeFunctionsParams
func NewGetEdgeFunctionsParams() GetEdgeFunctionsParams {
	return GetEdgeFunctionsParams{}
}

// GetEdgeFunctions - Get edge functions for customer origin
//
//	Get Edge Functions list to be used as Customer Origin
func (c CommonClient) GetEdgeFunctions(
	params GetEdgeFunctionsParams,
) ([]EdgeFunction, error) {
	req, err := buildGetEdgeFunctionsRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := make([]EdgeFunction, 0)
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetEdgeFunctions: %w", err)
	}

	return parsedResponse, nil
}

func buildGetEdgeFunctionsRequest(
	p GetEdgeFunctionsParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/edge-functions"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetEdgeFunctions: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetGroupStatusParams contains the parameters for GetGroupStatus
type GetGroupStatusParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Group Id
	GroupId int32
}

// NewGetGroupStatusParams creates a new instance of GetGroupStatusParams
func NewGetGroupStatusParams() GetGroupStatusParams {
	return GetGroupStatusParams{}
}

// GetGroupStatus - Get customer origin group status
//
//	This API operation gets a customer origin status.
func (c CommonClient) GetGroupStatus(
	params GetGroupStatusParams,
) (*CustomerOriginStatus, error) {
	req, err := buildGetGroupStatusRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginStatus{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetGroupStatus: %w", err)
	}

	return &parsedResponse, nil
}

func buildGetGroupStatusRequest(
	p GetGroupStatusParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/groups/{groupId}/status"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetGroupStatus: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetOriginsByGroupParams contains the parameters for GetOriginsByGroup
type GetOriginsByGroupParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Group Id
	GroupId int32
}

// NewGetOriginsByGroupParams creates a new instance of GetOriginsByGroupParams
func NewGetOriginsByGroupParams() GetOriginsByGroupParams {
	return GetOriginsByGroupParams{}
}

// GetOriginsByGroup - Get all customer origins in a group
//
//	This API operation gets all customer origins in a group.
func (c CommonClient) GetOriginsByGroup(
	params GetOriginsByGroupParams,
) ([]CustomerOriginFailoverOrder, error) {
	req, err := buildGetOriginsByGroupRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := make([]CustomerOriginFailoverOrder, 0)
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetOriginsByGroup: %w", err)
	}

	return parsedResponse, nil
}

func buildGetOriginsByGroupRequest(
	p GetOriginsByGroupParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/groups/{groupId}/origins"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetOriginsByGroup: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// UpdateCustomerOriginParams contains the parameters for UpdateCustomerOrigin
type UpdateCustomerOriginParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Id
	Id int32

	// The modified Customer Origin
	CustomerOriginRequest CustomerOriginRequest
}

// NewUpdateCustomerOriginParams creates a new instance of UpdateCustomerOriginParams
func NewUpdateCustomerOriginParams() UpdateCustomerOriginParams {
	return UpdateCustomerOriginParams{}
}

// UpdateCustomerOrigin - Update an Customer origin by id
//
//	Update an individual Customer Origin
func (c CommonClient) UpdateCustomerOrigin(
	params UpdateCustomerOriginParams,
) (*CustomerOrigin, error) {
	req, err := buildUpdateCustomerOriginRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOrigin{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("UpdateCustomerOrigin: %w", err)
	}

	return &parsedResponse, nil
}

func buildUpdateCustomerOriginRequest(
	p UpdateCustomerOriginParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/{id}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Put")
	if err != nil {
		errs = append(errs, fmt.Errorf("UpdateCustomerOrigin: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["id"] = NumberToString(p.Id)

	req.RawBody = p.CustomerOriginRequest

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// UpdateGroupFailoverOrderParams contains the parameters for UpdateGroupFailoverOrder
type UpdateGroupFailoverOrderParams struct {
	// http-large or adn
	MediaType string

	// Customer Origin Group Id
	GroupId int32

	FailoverOrder []FailoverOrder
}

// NewUpdateGroupFailoverOrderParams creates a new instance of UpdateGroupFailoverOrderParams
func NewUpdateGroupFailoverOrderParams() UpdateGroupFailoverOrderParams {
	return UpdateGroupFailoverOrderParams{}
}

// UpdateGroupFailoverOrder - Udpate the failover_order of customer origin in group
//
//	Modify the Failover Order in Group
func (c CommonClient) UpdateGroupFailoverOrder(
	params UpdateGroupFailoverOrderParams,
) error {
	req, err := buildUpdateGroupFailoverOrderRequest(params, c.baseAPIURL)
	if err != nil {
		return err
	}

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return fmt.Errorf("UpdateGroupFailoverOrder: %w", err)
	}

	return nil
}

func buildUpdateGroupFailoverOrderRequest(
	p UpdateGroupFailoverOrderParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/{mediaType}/groups/{groupId}/origins"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Patch")
	if err != nil {
		errs = append(errs, fmt.Errorf("UpdateGroupFailoverOrder: %w", err))
	}

	req.Method = method

	req.PathParams["mediaType"] = p.MediaType

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	req.RawBody = p.FailoverOrder

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}
