// Code generated by the Code Generation Kit (CGK) using OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
//
// Copyright 2022 Edgecast Inc., Licensed under the terms of the Apache 2.0
// license. See LICENSE file in project root for terms.

/*
Customer Origins API v3

List of API of config Customer Origin.

API version: 0.5.0
Contact: portals-streaming@edgecast.com
*/

package originv3

import (
	"fmt"
	"path"

	"github.com/EdgeCast/ec-sdk-go/edgecast/internal/ecclient"
	"github.com/go-openapi/errors"
)

// AdnOnlyClient is the concrete client implementation for AdnOnly
type AdnOnlyClient struct {
	apiClient  ecclient.APIClient
	baseAPIURL string
}

// NewAdnOnlyClient creates a new instance of AdnOnlyClient
func NewAdnOnlyClient(
	c ecclient.APIClient,
	baseAPIURL string,
) AdnOnlyClient {
	return AdnOnlyClient{c, baseAPIURL}
}

// AdnOnlyClientService defines the operations for AdnOnly
type AdnOnlyClientService interface {
	GetAdnGroups() ([]CustomerOriginGroupADN, error)

	GetAdnGroupsGroupId(
		params GetAdnGroupsGroupIdParams,
	) (*CustomerOriginGroupADN, error)

	PostAdnGroups(
		params PostAdnGroupsParams,
	) (*CustomerOriginGroupADN, error)

	PutAdnGroupsGroupId(
		params PutAdnGroupsGroupIdParams,
	) (*CustomerOriginGroupADN, error)
}

// GetAdnGroups - Get Adn customer origins groups
//
//	Get list of Adn Customer Origin Groups
func (c AdnOnlyClient) GetAdnGroups() ([]CustomerOriginGroupADN, error) {
	req, err := buildGetAdnGroupsRequest(c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := make([]CustomerOriginGroupADN, 0)
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetAdnGroups: %w", err)
	}

	return parsedResponse, nil
}

func buildGetAdnGroupsRequest(
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = path.Join(baseAPIURL, "/adn/groups")
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetAdnGroups: %w", err))
	}

	req.Method = method

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetAdnGroupsGroupIdParams contains the parameters for GetAdnGroupsGroupId
type GetAdnGroupsGroupIdParams struct {
	GroupId string
}

// GetAdnGroupsGroupId - Get specific Adn customer origin group by id
//
//	Get an individual Adn Customer Origin Group
func (c AdnOnlyClient) GetAdnGroupsGroupId(
	params GetAdnGroupsGroupIdParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildGetAdnGroupsGroupIdRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetAdnGroupsGroupId: %w", err)
	}

	return &parsedResponse, nil
}

func buildGetAdnGroupsGroupIdRequest(
	p GetAdnGroupsGroupIdParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = path.Join(baseAPIURL, "/adn/groups/{groupId}")
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetAdnGroupsGroupId: %w", err))
	}

	req.Method = method

	req.PathParams["groupId"] = p.GroupId

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// PostAdnGroupsParams contains the parameters for PostAdnGroups
type PostAdnGroupsParams struct {
	CustomerOriginGroupADN CustomerOriginGroupADN
}

// PostAdnGroups - Create new Adn customer origin group
//
//	Create Adn new Customer Origin Group
func (c AdnOnlyClient) PostAdnGroups(
	params PostAdnGroupsParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildPostAdnGroupsRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("PostAdnGroups: %w", err)
	}

	return &parsedResponse, nil
}

func buildPostAdnGroupsRequest(
	p PostAdnGroupsParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = path.Join(baseAPIURL, "/adn/groups")
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Post")
	if err != nil {
		errs = append(errs, fmt.Errorf("PostAdnGroups: %w", err))
	}

	req.Method = method
	req.RawBody = p.CustomerOriginGroupADN

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// PutAdnGroupsGroupIdParams contains the parameters for PutAdnGroupsGroupId
type PutAdnGroupsGroupIdParams struct {
	GroupId                string
	CustomerOriginGroupADN CustomerOriginGroupADN
}

// PutAdnGroupsGroupId - Update Adn customer origin group by id
//
//	Update an individual Adn Customer Origin Group
func (c AdnOnlyClient) PutAdnGroupsGroupId(
	params PutAdnGroupsGroupIdParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildPutAdnGroupsGroupIdRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("PutAdnGroupsGroupId: %w", err)
	}

	return &parsedResponse, nil
}

func buildPutAdnGroupsGroupIdRequest(
	p PutAdnGroupsGroupIdParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = path.Join(baseAPIURL, "/adn/groups/{groupId}")
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Put")
	if err != nil {
		errs = append(errs, fmt.Errorf("PutAdnGroupsGroupId: %w", err))
	}

	req.Method = method

	req.PathParams["groupId"] = p.GroupId

	req.RawBody = p.CustomerOriginGroupADN

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}
