// Code generated by the Code Generation Kit (CGK) using OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.
//
// Copyright 2022 Edgecast Inc., Licensed under the terms of the Apache 2.0
// license. See LICENSE file in project root for terms.

/*
Customer Origins API v3

List of API of config Customer Origin.

API version: 0.5.0
Contact: portals-streaming@edgecast.com
*/

package originv3

import (
	"fmt"

	"github.com/EdgeCast/ec-sdk-go/edgecast/internal/ecclient"
	"github.com/go-openapi/errors"
)

// AdnOnlyClient is the concrete client implementation for AdnOnly
type AdnOnlyClient struct {
	apiClient  ecclient.APIClient
	baseAPIURL string
}

// NewAdnOnlyClient creates a new instance of AdnOnlyClient
func NewAdnOnlyClient(
	c ecclient.APIClient,
	baseAPIURL string,
) AdnOnlyClient {
	return AdnOnlyClient{c, baseAPIURL}
}

// AdnOnlyClientService defines the operations for AdnOnly
type AdnOnlyClientService interface {
	AddAdnGroup(
		params AddAdnGroupParams,
	) (*CustomerOriginGroupADN, error)

	GetAdnGroup(
		params GetAdnGroupParams,
	) (*CustomerOriginGroupADN, error)

	GetAllAdnGroups() ([]CustomerOriginGroupADN, error)

	UpdateAdnGroup(
		params UpdateAdnGroupParams,
	) (*CustomerOriginGroupADN, error)
}

// AddAdnGroupParams contains the parameters for AddAdnGroup
type AddAdnGroupParams struct {
	CustomerOriginGroupADNRequestCreate CustomerOriginGroupADNRequestCreate
}

// NewAddAdnGroupParams creates a new instance of AddAdnGroupParams
func NewAddAdnGroupParams() AddAdnGroupParams {
	return AddAdnGroupParams{}
}

// AddAdnGroup - Create new Adn customer origin group
//
//	Create Adn new Customer Origin Group
func (c AdnOnlyClient) AddAdnGroup(
	params AddAdnGroupParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildAddAdnGroupRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("AddAdnGroup: %w", err)
	}

	return &parsedResponse, nil
}

func buildAddAdnGroupRequest(
	p AddAdnGroupParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/adn/groups"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Post")
	if err != nil {
		errs = append(errs, fmt.Errorf("AddAdnGroup: %w", err))
	}

	req.Method = method
	req.RawBody = p.CustomerOriginGroupADNRequestCreate

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetAdnGroupParams contains the parameters for GetAdnGroup
type GetAdnGroupParams struct {
	// Customer Origin Group Id
	GroupId int32
}

// NewGetAdnGroupParams creates a new instance of GetAdnGroupParams
func NewGetAdnGroupParams() GetAdnGroupParams {
	return GetAdnGroupParams{}
}

// GetAdnGroup - Get specific Adn customer origin group by id
//
//	Get an individual Adn Customer Origin Group
func (c AdnOnlyClient) GetAdnGroup(
	params GetAdnGroupParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildGetAdnGroupRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetAdnGroup: %w", err)
	}

	return &parsedResponse, nil
}

func buildGetAdnGroupRequest(
	p GetAdnGroupParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/adn/groups/{groupId}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetAdnGroup: %w", err))
	}

	req.Method = method

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// GetAllAdnGroups - Get Adn customer origins groups
//
//	Get list of Adn Customer Origin Groups
func (c AdnOnlyClient) GetAllAdnGroups() ([]CustomerOriginGroupADN, error) {
	req, err := buildGetAllAdnGroupsRequest(c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := make([]CustomerOriginGroupADN, 0)
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("GetAllAdnGroups: %w", err)
	}

	return parsedResponse, nil
}

func buildGetAllAdnGroupsRequest(
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/adn/groups"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Get")
	if err != nil {
		errs = append(errs, fmt.Errorf("GetAllAdnGroups: %w", err))
	}

	req.Method = method

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}

// UpdateAdnGroupParams contains the parameters for UpdateAdnGroup
type UpdateAdnGroupParams struct {
	// Customer Origin Group Id
	GroupId int32

	CustomerOriginGroupADNRequest CustomerOriginGroupADNRequest
}

// NewUpdateAdnGroupParams creates a new instance of UpdateAdnGroupParams
func NewUpdateAdnGroupParams() UpdateAdnGroupParams {
	return UpdateAdnGroupParams{}
}

// UpdateAdnGroup - Update Adn customer origin group by id
//
//	Update an individual Adn Customer Origin Group
func (c AdnOnlyClient) UpdateAdnGroup(
	params UpdateAdnGroupParams,
) (*CustomerOriginGroupADN, error) {
	req, err := buildUpdateAdnGroupRequest(params, c.baseAPIURL)
	if err != nil {
		return nil, err
	}

	parsedResponse := CustomerOriginGroupADN{}
	req.ParsedResponse = &parsedResponse

	_, err = c.apiClient.SubmitRequest(*req)

	if err != nil {
		return nil, fmt.Errorf("UpdateAdnGroup: %w", err)
	}

	return &parsedResponse, nil
}

func buildUpdateAdnGroupRequest(
	p UpdateAdnGroupParams,
	baseAPIURL string,
) (*ecclient.SubmitRequestParams, error) {
	req := ecclient.NewSubmitRequestParams()
	req.Path = baseAPIURL + "/adn/groups/{groupId}"
	errs := make([]error, 0)

	method, err := ecclient.ToHTTPMethod("Put")
	if err != nil {
		errs = append(errs, fmt.Errorf("UpdateAdnGroup: %w", err))
	}

	req.Method = method

	req.PathParams["groupId"] = NumberToString(p.GroupId)

	req.RawBody = p.CustomerOriginGroupADNRequest

	if len(errs) > 0 {
		return nil, errors.CompositeValidationError(errs...)
	}

	return &req, nil
}
